.el-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  box-sizing: border-box;
}

.el-container-vertical {
  flex-direction: column;
}

.el-container-horizontal {
  flex-direction: row;
}

/* 移除统一颜色设置，改为单独设置 */
.el-header,
.el-footer {
  background-color: var(--el-color-layout-header);
  color: var(--el-text-color-primary);
  box-sizing: border-box;
  line-height: 60px;
  text-align: center;
}

.el-aside {
  background-color: var(--el-color-layout-aside);
  color: var(--el-text-color-primary);
  box-sizing: border-box;
  height: 100%;
  justify-content: center;
}

.el-main {
  background-color: var(--el-color-layout-main);
  color: var(--el-text-color-primary);
  box-sizing: border-box;
  flex: 1;
  text-align: center;
}

.common-layout {
  height: 210px;
  box-sizing: border-box;
}